@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.carousel-caption{
    text-shadow: 1px 1px 1px #000;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.side-bar {
    height: calc(100vh - 56px);
}